body {
    background-image: url(https://cdn.pixabay.com/photo/2019/01/22/10/58/pixel-cells-3947911_960_720.png);
    background-size: cover;
}

img {
    border-radius: 50%;
    padding-left: 100px;
    margin-left: 160mm;
    margin-top: 53mm;
    
}


.kouluaine-bg {
    background-image: url(https://cdn.pixabay.com/photo/2016/01/19/01/42/library-1147815_960_720.jpg);
}

.home-bg {
    background-image: url(https://cdn.pixabay.com/photo/2017/12/02/14/38/contact-us-2993000_960_720.jpg);
    background-size: 1918px;
    font-size: 22px;
}
.tyo-bg {
    background-image: url(https://cdn.pixabay.com/photo/2016/06/13/09/57/meeting-1453895_960_720.png);
    background-size: cover;
    font-size: 22px;
}

.tiedot-bg {
    background-image: url(https://cdn.pixabay.com/photo/2017/07/10/23/43/question-mark-2492009_960_720.jpg);
    background-size: cover;
    font-size: 22px;
    font-style: italic;
}